In [2]:
# imports 
import pandas as pd

In [3]:
data= pd.read_csv('testing_features_sc.csv')

In [4]:
data.columns

Index(['CurrentLoanAmount', 'Annual Income', 'Monthly Debt',
       'Years of Credit History', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens',
       'log_Current Credit Balance', 'sqrt_Maximum Open Credit',
       'log_Maximum Open Credit', 'Term_Long Term', 'Term_Short Term',
       'Years in current job_1 year', 'Years in current job_10+ years',
       'Years in current job_2 years', 'Years in current job_3 years',
       'Years in current job_4 years', 'Years in current job_5 years',
       'Years in current job_6 years', 'Years in current job_7 years',
       'Years in current job_8 years', 'Years in current job_9 years',
       'Years in current job_< 1 year', 'Home Ownership_HaveMortgage',
       'Home Ownership_Home Mortgage', 'Home Ownership_Own Home',
       'Purpose_Business Loan', 'Purpose_Buy House', 'Purpose_Buy a Car',
       'Purpose_Debt Consolidation', 'Purpose_Educational Expenses',
       'Purpose_Home Improvements', 'Purpose_Medical Bills', 'Purpose_Other',
       'Purpose_Take a Trip', 'Purpose_major_purchase', 'Purpose_moving',
       'Purpose_other', 'Purpose_renewable_energy', 'Purpose_small_business',
       'Purpose_vacation', 'Purpose_wedding'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29938 entries, 0 to 29937
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CurrentLoanAmount               29938 non-null  float64
 1   Annual Income                   29938 non-null  float64
 2   Monthly Debt                    29938 non-null  float64
 3   Years of Credit History         29938 non-null  float64
 4   Number of Open Accounts         29938 non-null  float64
 5   Number of Credit Problems       29938 non-null  float64
 6   Current Credit Balance          29938 non-null  float64
 7   Maximum Open Credit             29938 non-null  float64
 8   Bankruptcies                    29938 non-null  float64
 9   Tax Liens                       29938 non-null  float64
 10  log_Current Credit Balance      29938 non-null  float64
 11  sqrt_Maximum Open Credit        29938 non-null  float64
 12  log_Maximum Open Credit         29938 non-null  float64
 13  Term_Long Term                  29938 non-null  float64
 14  Term_Short Term                 29938 non-null  float64
 15  Years in current job_1 year     29938 non-null  float64
 16  Years in current job_10+ years  29938 non-null  float64
 17  Years in current job_2 years    29938 non-null  float64
 18  Years in current job_3 years    29938 non-null  float64
 19  Years in current job_4 years    29938 non-null  float64
 20  Years in current job_5 years    29938 non-null  float64
 21  Years in current job_6 years    29938 non-null  float64
 22  Years in current job_7 years    29938 non-null  float64
 23  Years in current job_8 years    29938 non-null  float64
 24  Years in current job_9 years    29938 non-null  float64
 25  Years in current job_< 1 year   29938 non-null  float64
 26  Home Ownership_HaveMortgage     29938 non-null  float64
 27  Home Ownership_Home Mortgage    29938 non-null  float64
 28  Home Ownership_Own Home         29938 non-null  float64
 29  Purpose_Business Loan           29938 non-null  float64
 30  Purpose_Buy House               29938 non-null  float64
 31  Purpose_Buy a Car               29938 non-null  float64
 32  Purpose_Debt Consolidation      29938 non-null  float64
 33  Purpose_Educational Expenses    29938 non-null  float64
 34  Purpose_Home Improvements       29938 non-null  float64
 35  Purpose_Medical Bills           29938 non-null  float64
 36  Purpose_Other                   29938 non-null  float64
 37  Purpose_Take a Trip             29938 non-null  float64
 38  Purpose_major_purchase          29938 non-null  float64
 39  Purpose_moving                  29938 non-null  float64
 40  Purpose_other                   29938 non-null  float64
 41  Purpose_renewable_energy        29938 non-null  float64
 42  Purpose_small_business          29938 non-null  float64
 43  Purpose_vacation                29938 non-null  float64
 44  Purpose_wedding                 29938 non-null  float64
dtypes: float64(45)
memory usage: 10.3 MB

In [6]:
data.iloc[0]

CurrentLoanAmount                 0.003055
Annual Income                     0.039722
Monthly Debt                      0.051891
Years of Credit History           0.257485
Number of Open Accounts           0.092105
Number of Credit Problems         0.000000
Current Credit Balance            0.024980
Maximum Open Credit               0.000904
Bankruptcies                      0.000000
Tax Liens                         0.000000
log_Current Credit Balance        0.786828
sqrt_Maximum Open Credit          0.030072
log_Maximum Open Credit           0.668714
Term_Long Term                    1.000000
Term_Short Term                   0.000000
Years in current job_1 year       0.000000
Years in current job_10+ years    1.000000
Years in current job_2 years      0.000000
Years in current job_3 years      0.000000
Years in current job_4 years      0.000000
Years in current job_5 years      0.000000
Years in current job_6 years      0.000000
Years in current job_7 years      0.000000
Years in current job_8 years      0.000000
Years in current job_9 years      0.000000
Years in current job_< 1 year     0.000000
Home Ownership_HaveMortgage       0.000000
Home Ownership_Home Mortgage      0.000000
Home Ownership_Own Home           0.000000
Purpose_Business Loan             0.000000
Purpose_Buy House                 0.000000
Purpose_Buy a Car                 0.000000
Purpose_Debt Consolidation        1.000000
Purpose_Educational Expenses      0.000000
Purpose_Home Improvements         0.000000
Purpose_Medical Bills             0.000000
Purpose_Other                     0.000000
Purpose_Take a Trip               0.000000
Purpose_major_purchase            0.000000
Purpose_moving                    0.000000
Purpose_other                     0.000000
Purpose_renewable_energy          0.000000
Purpose_small_business            0.000000
Purpose_vacation                  0.000000
Purpose_wedding                   0.000000
Name: 0, dtype: float64

In [7]:
test = pd.read_csv('testing_labels_proc.csv')

In [8]:
test.head()

   Credit Score
0    702.000000
1    716.278671
2    688.000000
3    716.278671
4    740.000000

In [10]:
final_data = pd.concat([data,test] ,axis=1)

In [11]:
final_data.to_csv('final_data.csv' ,index=False)